//Guideline - Default Color
$guide-light-green: #7ed56f;
$guide-medium-green: #55c57a;
$guide-dark-green: #28b485;
//Component Color
$color-white: #fff;
$color-gray: #777;
$color-black: #000;
$background-color-white: #fff;
