//Default Color
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

//Component Color
$color-white: #fff;
$color-gray: #777;
$color-gray-light-1: #dfdfdf;
$color-black: #000;
$background-color-white: #fff;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
